/*****mixins*****/

.br(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.bs(@a1,@a2,@a3,@a4) {
	-moz-box-shadow: @a1 @a2 @a3 @a4;
	-webkit-box-shadow: @a1 @a2 @a3 @a4;
	-o-box-shadow: @a1 @a2 @a3 @a4;
	box-shadow: @a1 @a2 @a3 @a4;
}

.t(@s,@t1,@t2) {
	-moz-transition: @s @t1 @t2;
	-webkit-transition: @s @t1 @t2;
	-o-transition: @s @t1 @t2;
	-ms-transition: @s @t1 @t2;
	transition: @s @t1 @t2;
}

.lg(@col1,@col2) {
	background-color: @col2;
	background-image: -o-linear-gradient(top,@col1,@col2);
	background-image: -moz-linear-gradient(top,@col1,@col2);
	background-image: -webkit-linear-gradient(top,@col1,@col2);
	background-image: -ms-linear-gradient(top,@col1,@col2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(@col1), to(@col2));
	background-image: linear-gradient(top,@col1,@col2);
}

.lgh(@col1,@col2) {
	background-color: @col2;
	background-image: -o-linear-gradient(left,@col1,@col2);
	background-image: -moz-linear-gradient(left,@col1,@col2);
	background-image: -webkit-linear-gradient(left,@col1,@col2);
	background-image: -ms-linear-gradient(left,@col1,@col2);
	background-image: -webkit-gradient(linear, left top, right top, from(@col1), to(@col2));
	background-image: linear-gradient(left,@col1,@col2);
}

.bs {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-highlight(@color, @opacity) {
	position: relative;

	&:after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: @color;
		opacity: @opacity;
	}
}