@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";

.collapsing {
	-webkit-transition: none;
	transition: none;
}

body {
	min-width: 1030px !important;
}

.container {
	width: 1000px;
}

.header {
	& > div[class^=col-] {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

.header-static {
	position: absolute;
	top: 0;
	z-index: @zindex-navbar;
	width: 1000px;
}

.header-user-widget {
	.user-name {
		font-size: 13px;
		color: #6e6e6e;
		margin-left: 16px;
	}
}

.events-slider {
	margin: 0 auto;

	max-width: 1920px;
	max-height: 700px;

	width: 100%;
	height: 700px;
	overflow: hidden;

	.carousel-inner {
	}

	.item {
		height: 700px;

		& > a {
			display: inline-block;
			width: 1920px;
			height: 700px;
			//			position: absolute;
			//			left: 50%;
			//			margin-left: -1920px / 2;
		}
	}

	.info {
		position: absolute;
		left: 100px;
		bottom: 30px;
		padding: 22px 33px 17px;
		.bs;
		font-family: "archiveregular";
		height: 125px;
		display: table;

		& > .vertical-align-fix {
			display: table-cell;
			vertical-align: middle;
		}
	}

	h2 {
		color: #fff;
		font-size: 60px;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}

	.city {
		color: #e0e0e0;
		font-size: 24px;
		line-height: 28px;
		margin: 0;
		text-transform: uppercase;
	}

	.carousel-control {
		z-index: 103;

		&.left, &.right {
			width: 15px;
			height: 17px;
			bottom: 46px;
			top: auto;
			background-repeat: no-repeat;
			background-image: url("../img/slider-arrows.png");
		}

		&.left {
			right: 208px;
			left: auto;
			background-position: 0 0;

			&:hover {
				background-position: 0 -17px;
			}
		}

		&.right {
			right: 180px;
			background-position: -15px 0;

			&:hover {
				background-position: -15px -17px;
			}
		}
	}

	.carousel-indicators {
		right: 130px;
		bottom: 63px;
		top: auto;
		left: auto;

		width: auto;
		margin-left: 0;
		z-index: 104;

		li {
			text-indent: 0;
			width: auto;
			height: 70px;
			overflow: hidden;
			border: none;
			background: none;
			font-family: "pf_handbook_proregular";
			font-size: 72px;
			line-height: 72px;
			color: #fff;
			display: none;

			& > span {
				font-size: 24px;
				position: relative;
				top: -28px;
			}

			&.active {
				display: block;
			}
		}
	}
}

.main-page-block {
	//	margin-top: 50px;
	//	margin-bottom: 50px;
	padding: 25px 0;
}

.hello-block {
	background: #fff;
	padding-left: 40px;
	padding-right: 40px;

	& > .row > div {
		border-left: 1px solid #f2f2f2;

		&:first-child {
			border-left: none;
		}
	}

	h3 {
		font-size: 30px;
		font-weight: bold;
		color: @gray-dark;
		text-transform: uppercase;
		line-height: 1;
		padding-top: 25px;
		margin-bottom: 55px;

		small {
			display: block;
			font-weight: normal;
			font-size: 18px;
			margin-top: 5px;
			color: @gray-dark;
			text-transform: lowercase;
			letter-spacing: 3.5px;
		}

		.hi {
			position: relative;
			top: -25px;
			width: 30px;
			height: 27px;
			background: left top no-repeat url("../img/hi.png");
			display: inline-block;
		}
	}

	.image-block {
		height: 100px;
		margin-bottom: 30px;
	}

	.title {
		font-weight: bold;
		font-size: 16px;
		color: @gray;
	}

	.description {
		color: #686868;
		font-size: 12px;
	}

	hr {
		width: 50%;
		margin-top: 65px;
		border-color: #f2f2f2;
	}
}

.video-block {
	height: 260px;
	margin-bottom: 150px;
	background: #fff;

	.title {
		font-size: 24px;
		color: #e48d07;
		line-height: 23px;
		margin-bottom: 22px;

		small {
			font-size: 18px;
			color: @gray-dark;
			letter-spacing: 0.2em;
			display: block;
		}
	}
}

.search-form-widget {
	& > form > .row > div {
		height: 237px;
		padding: 51px 31px;
	}

	.form-title {
		background: #9759ae;
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		font-family: "archiveregular";

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -9px;
			background: top left no-repeat url("../img/search-form-1.gif");
			width: 9px;
			height: 10px;
			margin-top: -4px;
			z-index: 100;
		}
	}
	.form-content {
		background: @gray;

		& > .row {
			.col-md-5, .col-md-2 {
				padding: 0 15px/2;
			}
			.col-md-5 {
				width: (100% - 5%) / 2;
			}
			.col-md-2 {
				width: 5%;
			}
		}

		.form-icon {
			height: 35px;
			display: block;
			line-height: 35px;

			&:first-child {
				line-height: 30px;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -10px;
			background: top left no-repeat url("../img/search-form-2.gif");
			width: 10px;
			height: 12px;
			margin-top: -5px;
			z-index: 100;
		}
	}

	.form-submit {
		background: #3598db;
		font-size: 18px;
		font-weight: bold;
		color: #fff;

		button {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #3598db;
			border: none;
			line-height: 188px;
			outline: none;

			&:hover, &:active {
				color: @gray-dark;
			}
		}
	}

}

.form-control {
	height: 35px;
	padding: 6px 14px;
	//		line-height: 35px;
	box-shadow: none !important;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;

	&.disabled, &[disabled] {
		background: #373737 !important;
		color: #f2f2f2;
	}
}

.vertical-fix-container {
	display: table;
	height: 100%;
	width: 100%;

	.vertical-fix {
		display: table-cell;
		vertical-align: middle;
	}
}

.top-events {
	.title {
		font-size: 30px;
		color: @gray-dark;
		line-height: 24px;
		margin-bottom: 40px;

		small {
			font-size: 18px;
			color: @gray-dark;
			letter-spacing: 3.6px;
			display: block;
		}
	}

	.top-events-widget {
		font-family: archiveregular;

		& > .row > div {
			padding: 0;

			&:hover .image-container:after {
				display: none;
			}
		}

		.event-header {
			height: 126px;
			padding: 0 28px;

			.title {
				font-size: 24px;
				color: #fff;
			}

			.city {
				color: @gray-darker;
			}
		}

		.date {
			position: absolute;
			top: 126px;
			left: 0;
			width: 100%;
			height: 126px;
			background: rgba(53, 53, 53, .6);
			padding: 48px 28px;

			.day {
				font-size: 36px;
				line-height: 14px;
			}
		}

		.image-container {
			position: relative;
			overflow: hidden;
			height: 250px;

			&:after {
				background: #e48d07;
				opacity: .4;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.top-events-block-style(@color) {
			.event-header {
				background: @color;
			}
			.date {
				color: @color;
			}

			.image-container:after {
				background: @color;
			}
		}

		.orange-block {
			.top-events-block-style(#e48d07);
		}
		.blue-block {
			.top-events-block-style(#3598db);
		}
		.purple-block {
			.top-events-block-style(#9759ae);
		}
		.red-block {
			.top-events-block-style(#e84c3d);
		}
	}
}

.social-block {
	background: #fdfdfd;
	padding: 0;

	& > div {
		height: 250px;
	}

	.title1 {
		color: @gray-dark;
		font-size: 18px;
		letter-spacing: 0.2em;
		line-height: 48px;
	}

	.title2 {
		font-size: 18px;
		color: @gray-dark;
		line-height: 36px;
	}

	.total-count {
		font-weight: bold;
		font-size: 100px;
		color: #e84c3d;
		line-height: 1;
		letter-spacing: -0.1em;
	}

	.vk {
		background: #3598db;

		.fa-inverse {
			color: #3598db;
		}
	}

	.twitter {
		background: #35c6db;
		.fa-inverse {
			color: #35c6db;
		}
	}

	.fb {
		background: #3768cc;
		.fa-inverse {
			color: #3768cc;
		}
	}

	.gplus {
		background: #e84c3d;
		.fa-inverse {
			color: #e84c3d;
		}
	}

	.social-links {
		color: #fdfdfd;
		text-align: center;

		.count {
			font-size: 24px;
		}

		a {
			color: #fdfdfd;
			text-decoration: none;
			display: block;
			height: 250px;
			padding-top: 95px;

			&:hover {
				color: @gray-dark;
			}
		}
	}

	& > .row > div:first-child:after {
		content: "";
		position: absolute;
		background: left top no-repeat url("../img/social-block-1.gif");
		width: 12px;
		height: 14px;
		top: 50%;
		right: -12px;
		z-index: 100;
		margin-top: -7px;
	}
}

.footer-menu {
	margin-top: 25px;

	.title {
		font-weight: bold;
		font-size: 20px;
		color: #3598db;
	}

	& > div {
		padding: 22px 36px;
	}

	& > div {
		background: #e2e2e2;
	}
	& > div:first-child {
		background: #fdfdfd;
	}

	li {
		display: inline-block;
		margin-right: 15px;
		line-height: 26px;
	}
	a {
		color: @gray-light;

		&:hover {
			color: #3598db;
		}
	}
}

.footer {
	color: @gray-lighter;
	height: 60px;
	line-height: 60px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.column2-layout {
	& > div {
		padding: 0;

		&:first-child {
			width: 38%;
		}

		&:last-child {
			width: 62%;
		}
	}
}

.red-button {
	font-weight: bold;
	color: #fff;
	display: inline-block;
	background: #e84c3d;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	border: none;

	&:hover, &:active, &:focus {
		color: @gray-darker;
		text-decoration: none;
	}
}

.blue-button {
	background: #3598db;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 14px;
	color: #fff;
	font-family: archiveregular;

	&:hover {
		color: @gray;
		text-decoration: none;
	}
}

.event-offer-widget {
	position: relative;
	z-index: 100;

	.event-info-block1, .event-info-block2 {
		position: relative;
	}

	.image-container {
		.image-highlight(#3598db, 0.4);
	}

	.info {
		background: #3598db;
		padding: 36px 32px 26px;
		font-family: archiveregular;

		.event-title, .date {
			color: #fff;
		}

		.event-title {
			font-size: 36px;
			line-height: 1;
			margin-bottom: 2px;
		}
		.city {
			font-size: 18px;
			line-height: 28px;
		}

		.date {
			font-size: 20px;
			line-height: 1;
		}
	}

	.event-info-block2 {
		min-height: 374px;
	}

	.description {
		color: #f2f2f2;
		font-size: 13px;
		background: rgba(48, 48, 48, 0.9);
		position: absolute;
		bottom: 0;
		line-height: 20px;
		padding: 35px;
		width: 100%;
	}

	.more-link {
		display: block;
		height: 70px;
		line-height: 70px;
		background: #e84c3d;
		font-family: archiveregular;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		padding: 0 35px;
	}

	.event-info-block-more {
		position: absolute;
		top: 0;
		left: 0;
		width: 380px + 437px;
		height: 100% !important;
		.bs(0, 0, 25px, rgba(0, 0, 0, .35));

		.event-info-block-more-content {
			width: 437px;
			margin-left: 380px;
			background: #fff;
			height: 100%;
		}

		.more-link {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
		}
	}

	.event-gallery {
		margin: 0 -1px -1px 0;

		& > a {
			float: left;
			margin: 0 1px 1px 0;
		}
	}

	.event-order {
		padding: 5px 25px;
		font-size: 13px;
		line-height: 24px;

		.form-control {
			background-color: #eaeaea;
			border-color: #eaeaea;
			height: 38px;
			padding: 8px 14px;
			width: 70%;
			color: @gray-dark;
		}

		.red-button {
			padding: 0 15px;
			width: 30%;
		}
	}

	.event-offer-widget-title {
		font-weight: bold;
		font-size: 24px;
		margin: 10px 0;
	}

	.ticket-links {
		margin-bottom: 20px;

		& > a {
			font-weight: bold;
			color: #fff;
			display: inline-block;
			background: #e84c3d;
			height: 38px;
			line-height: 38px;
			padding: 0 20px;
		}
	}
}

.total-events-widget {
	height: 380px;
	color: @gray-dark;
	font-size: 18px;
	line-height: 36px;
	background: #fff;

	.title1 {
		letter-spacing: 0.1em;
	}

	.title2 {

	}

	.count {
		font-weight: bold;
		font-size: 150px;
		color: #9759ae;
		letter-spacing: -0.1em;
		line-height: 130px;
	}
}

.checkbox {
	input[type=checkbox] {
		position: relative;
		width: 0 !important;
		margin-right: 25px;
		margin-left: -35px;

		&:before {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 18px;
			height: 18px;
			background: left top no-repeat url("../img/checkbox.gif");
			content: '';
		}

		&:checked:before {
			background-position: left bottom;
		}
	}
}

.checkbox label {
	padding-left: 31px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}

.event-search-form-container {
	position: relative;
	z-index: 99;

	.form-preview {
		.text-muted {
			color: #b5b5b5;
		}
	}

	.form-preview-content {
		letter-spacing: 0.2em;
		padding: 23px 0px 23px 28px;
		margin-right: -30px;
		height: 80px;
		background: @gray;

		strong {
			display: inline-block;

			&:last-child {
				margin-left: 10px;
			}
		}

		.form-group {
			display: inline-block;
		}

		.form-control {
			letter-spacing: 0.1em;
			display: inline-block;
			width: 115px;
		}

		label {
			display: inline-block;
			color: #b6b6b6;
			font-size: 12px;
			font-weight: bold;
			margin-right: -3px;
		}
	}

	.toggle-form {
		color: #fff;
		font-weight: bold;
		background: #9759ae;
		display: block;
		height: 80px;
		line-height: 60px;
		padding: 15px 0;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: @gray-darker;
		}

		& > span {
			position: relative;
			top: -4px;
			margin-left: 5px;
		}
	}

	.event-search-form {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: @gray;
		.bs(0, 0, 25px, rgba(0, 0, 0, .35));

		label {
			text-transform: uppercase;
			color: #bdbdbd;
			font-size: 9px;
			font-weight: bold;
			line-height: 18px;
		}

		.row {
			margin-left: -16px / 2;
			margin-right: -16px / 2;

			& > div {
				padding-left: 16px / 2;
				padding-right: 16px / 2;
			}
		}

		[class^=icon-] {
			background-repeat: no-repeat;
			background-image: url("../img/search-form-icons.png");
			display: inline-block;
			width: 19px;
		}

		.icon-palm {
			height: 13px;
			background-position: 0 0;
		}
		.icon-plane {
			height: 10px;
			background-position: 0 -13px;
		}
		.icon-shield {
			height: 15px;
			background-position: 0 -13px + -10px;
		}
		.icon-eat {
			height: 13px;
			background-position: 0 -13px + -10px + -15px;
		}
	}

	.form-group {
		margin-bottom: 10px;
	}

	.form-block {
		border-bottom: 1px solid #4d4d4d;
		margin: 22px -30px 0 25px;
	}

	.form-block-title {
		font-size: 12px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 14px;

		i {
			margin-right: 10px;
		}
	}

	.search-form-dates {

		.form-group {
			display: inline-block;
			width: 48%;
		}
		strong {
			margin-left: -2px;
			position: relative;
			top: -28px;
			width: 4%;
		}
	}

	.days-count {
		font-size: 9px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		background: #3598db;
		height: 35px;
		line-height: 35px;
		text-align: center;
		display: block;
		margin-top: 53px;
		margin-left: 20px;
		position: relative;

		&:after {
			position: absolute;
			top: 50%;
			left: -6px;
			background: left top no-repeat url("../img/icon-arrow-left-small.png");
			width: 8px;
			height: 9px;
			content: "";
			margin-top: -9px/2;
		}

	}

	.radio, .checkbox {
		margin-top: 5px;
	}

	.checkbox label {
		font-size: 10px;
		font-weight: bold;
		color: #fff;
	}

	.bottom-panel {
		margin: 0 !important;
		& > div {
			padding: 0 !important;
		}
		button {
			border: none;
			background: #3598db;
			text-align: center;
			height: 80px;
			line-height: 1;
			width: 414px;
			font-size: 18px;
			color: #fff;
			font-weight: bold;
			margin-right: -1px;

			&:hover, &:active {
				color: @gray-darker;
			}

			span {
				position: relative;
				top: -5px;
			}
		}
	}
}

.hotel-search-form-container {
	.form-preview-content {
		.form-control {
			//			width: auto;
		}

		.days-count-block {
			margin-left: 15px;
			display: inline-block;
		}

		.days-count-control {
			width: 48px;
		}
	}

	.form-block {
		border-bottom: 1px solid #4d4d4d;
		margin: 22px 25px 0 25px;
	}

	.bottom-panel button {
		width: 100%;
		display: block;
	}
}

.additional-filter-row {
	font-weight: bold;
	color: #434343;
	line-height: 20px;
	margin-top: 31px;
	margin-bottom: 31px;

	& > span {
		width: 33%;
		display: inline-block;
	}

	a {
		border-bottom: 1px dotted;
		text-decoration: none;

		&.active {
			color: #828282;
		}
	}
}

.list-loading-view {
	font-weight: bold;
	color: #434343;
	line-height: 21px;
	margin-top: 25px;
	margin-bottom: 35px;

	& > i {
		margin-right: 15px;
	}
}

.event-list {
	margin-bottom: 0;

	& > li {
		background: #fff;

		&:nth-child(even) {
			background: #eaeaea;

			.event-rating {
				border-color: #fff;
			}
		}

		& > a {
			display: block;
			padding-bottom: 30px;

			& > table {
				width: 100%;
			}
		}
	}

	.event-preview {
		td {
			vertical-align: bottom;
			padding: 25px 26px/2 0;

			&:first-child {
				padding-left: 26px;
				padding-right: 26px / 2 - 12;
			}
			&:last-child {
				padding-right: 26px;
			}
		}

		.image-column {
			width: 90px;
		}
	}

	.event-title {
		color: @gray-darker;
		font-weight: bold;
		line-height: 18px;
	}

	.city {
		font-size: 9px;
		font-weight: bold;
		color: #9d9d9d;
		text-transform: uppercase;
		line-height: 18px;
	}

	.stars {
		font-weight: bold;
		font-size: 13px;
		color: #3598db;
		margin-top: 6px;
		margin-bottom: 4px;
	}

	.event-rating, .event-price {
		text-align: center;
		font-weight: bold;
		font-size: 9px;
		color: #9d9d9d;

		& > span {
			text-transform: uppercase;
		}
	}

	.event-rating {
		.count {
			color: #9759ae;
			font-size: 36px;
			text-transform: none;
			letter-spacing: -0.1em;
		}

		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		padding: 8px 33px 15px;
	}
	.event-price {
		padding: 8px 0 15px;
		.count {
			font-size: 24px;
			color: #e84c3d;
			text-transform: none;
			letter-spacing: -0.1em;
			white-space: nowrap;
		}
	}
}

.event-tours {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;

	& > thead > tr > th {
		font-weight: bold;
		font-size: 11px;
		color: @gray;
		background: #f2f2f2;
		padding: 7px 8px;
		border-bottom: none;

		&:first-child {
			padding-left: 13px;
		}
		&:last-child {
			padding-right: 13px;
		}
	}

	& > tbody > tr > td {
		border-bottom: 1px solid #f2f2f2;
		padding: 13px 8px;
		background: #fff;

		&:first-child {
			padding-left: 13px;
		}

		&:last-child {
			padding-right: 13px;
		}
	}

	& > thead > tr > th, & > tbody > tr > th, & > tfoot > tr > th, & > thead > tr > td, & > tbody > tr > td, & > tfoot > tr > td {
		border-top: none;
	}

	.blue-column {
		color: #3598db;
	}

	.operator-column {
		vertical-align: middle;
	}

	.red-button {
		white-space: nowrap;
	}
}

.event-tours-extended {
	& > thead > tr > th {
		background: #ffffff;
	}

	& > tbody > tr > td {
		border-top: 3px solid #f2f2f2;
		border-bottom: 3px solid #f2f2f2;
	}

	.event-title {
		font-size: 14px;
	}

	.text-muted {
		color: #9e9e9e;
	}

	.stars {
		color: #0099de;
	}

	.event-rating {
		text-align: center;

		.count {
			font-weight: bold;
			font-size: 24px;
			color: #aa59b2;
			letter-spacing: -0.1em;
			display: block;
			line-height: 1;
		}
	}
}

.more-event-link {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-family: archiveregular;
	background: #3598db;
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 40px;
	position: relative;

	&:hover {
		color: @gray-darker;
		text-decoration: none;

		.icon-palm {
			background-position: left bottom;
		}
	}

	&:after {
		position: absolute;
		content: "";
		top: 100%;
		left: 50%;
		background: left top no-repeat url("../img/blue-arrow-down.png");
		width: 16px;
		height: 14px;
		margin-left: -14px / 2;
		margin-top: -2px;
	}

	.icon-palm {
		display: inline-block;
		background-image: url(../img/icons/palm.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 17px;
		height: 44px / 2;
	}
}

.number-field {
	position: relative;

	input {
		width: 100%;
	}

	&:before, &:after {
		position: absolute;
		background-repeat: no-repeat;
		background-image: url("../img/number-arrows.png");
		width: 6px /2;
		height: 10px / 2;
		top: 50%;
		margin-top: -10px / 4;
		z-index: 99;
	}

	&:before {
		left: 10px;
	}

	&:after {
		right: 10px;
	}
}

.order-title {
	font-family: archiveregular;
	font-size: 36px;
	color: @gray-darker;
	height: 115px;
	line-height: 115px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.order-status {

	.order-number, .operator-info, .order-total {
		min-height: 190px;
		padding: 40px 0 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
	}
	.order-number {
		background: #3598db;
		color: #fff;
	}

	.order-id, .order-price {
		font-weight: bold;
		font-size: 48px;
		letter-spacing: -0.1em;
	}

	.operator-info {
		background: #fff;
	}

	.order-total {
		background: #9759ae;
		color: #fff;
	}

	.order-info-height-fix {
		height: 90px;
	}

	.order-info-description {
		background: #e2e2e2;
		padding: 25px 30px 15px;
		font-size: 13px;

		strong, b {
			color: #585858;
		}
	}
}

.order-info {
	width: 100%;

	td {
		vertical-align: top;
	}

	th {
		height: 77px;
		line-height: 77px;
		font-family: archiveregular;
		font-size: 24px;
		color: #fff;
		font-weight: normal;
		padding: 0 30px;
	}

	th.flights-column {
		background: #e48d07;
	}

	th.hotel-column {
		background: #e84c3d;
	}

	td.flights-column {
		background: #e2e2e2;
		padding: 0 35px;
		text-transform: uppercase;
		font-family: archiveregular;
	}

	td.hotel-column {
		padding: 15px 35px;
		background: #fff;

		hr {
			margin: 0;
			border-top: 2px solid #e2e2e2;
		}
	}

	.flight-direction {
		margin: 25px 0;
	}

	.direction-title {
		font-size: 16px;
		color: @gray;
	}
	.direction-start {
		text-transform: none;
		color: #515151;
		font-family: @font-family-base;
		text-align: right;
	}
	.direction {
		background: @gray;
		font-size: 16px;
		color: #e48d07;
		line-height: 37px;
		margin: 10px -20px 0;

		& > div {
			padding: 0 20px;
		}

		.from, .to {
			color: #fff;
		}

		.to {
			text-align: right;
		}
	}

	.passengers {
		background: #fff;
		padding: 0 20px;
		margin: 0 -20px;

		& > li {
			padding: 20px 0 15px;

			border-bottom: 2px solid #e2e2e2;

			&:last-child {
				border-bottom: none;
			}
		}

		.passenger-name {
			font-size: 16px;
			color: @gray;
			margin: 0 0 2px;
		}

		.passenger-info {
			font-family: @font-family-base;
			font-size: 12px;
			font-weight: bold;
			color: #777777;
		}

		.passenger-status {
			font-size: 16px;
			margin-bottom: 2px;

			&.passenger-status-success {
				color: #9759ae;
			}
			&.passenger-status-danger {
				color: #e84c3d;
			}
			&.passenger-status-warning {
				color: #e48d07;
			}
		}
	}
	.ticket-download-btn {
		padding: 0 35px;
	}

	.hotel-title {
		font-family: archiveregular;
		font-size: 30px;
		line-height: 1;
		color: @gray;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.hotel-info {
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.hotel-info-title {
		font-weight: bold;
		font-size: 12px;
		color: #777777;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	.hotel-info-value {
		font-family: archiveregular;
		font-size: 16px;
		color: @gray;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.hotel-info-description {
		font-size: 12px;
		color: #7d7d7d;
	}

	.hotel-status {
		font-size: 16px;
		font-family: archiveregular;
		line-height: 1.1;
		margin-bottom: 0;

		&.hotel-status-success {
			color: #9759ae;
		}
		&.hotel-status-danger {
			color: #e84c3d;
		}
		&.hotel-status-warning {
			color: #e48d07;
		}
	}

	.hotel-status-block {
		margin-top: 20px;
	}
}

.document-block {
	width: 280px;
	background: #fff;
	display: inline-block;

	& > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	img, a {
		margin-top: 12px;
	}
}

.modal-content {
	.br(0);
	.bs(0, 0, 0, #000);
	border: none;
}

.hotel-view {
	padding: 0;

	.hotel-photo-list {
		margin: 0;

		& > li {
			float: left;
			margin: 0;
			width: 100% / 5;

			& > a {
				position: relative;
				display: block;
			}
		}

		img {
			.img-responsive();
		}

		& > li.active > a, & > li:hover > a {
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(255, 255, 255, 0.5) center center no-repeat url("../img/hotel-image-hover.png");
				content: "";
			}
		}
	}
}

.hotel-info-column {
	padding-top: 25px;
	padding-right: 40px;

	.hotel-location {
		color: @gray;
	}

	.hotel-title {
		font-family: archiveregular;
		font-size: 30px;
		color: @gray;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 22px;
	}

	.tour-price {
		font-weight: bold;
		font-size: 30px;
		color: #e84c3d;
		letter-spacing: -0.1em;
		line-height: 1;
		margin-bottom: 7px;
	}

	.tour-price-description {
		font-weight: bold;
		font-size: 11px;
		color: @gray;
		text-transform: uppercase;
	}

	.hotel-order-button {
		.hotel-order {
			font-size: 13px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			height: 52px;
			line-height: 52px;
			background: #3598db;
			display: inline-block;
			padding: 0 20px;
			float: left;

			&:hover, &:active, &:focus {
				text-decoration: none;
				color: @gray;
			}
		}

		.hotel-bookmark-button {
			background: #9759ae;
			display: inline-block;
			height: 52px;
			line-height: 52px;
			float: left;
			color: #fff;
			padding: 0 16px;
			font-size: 12px;

			.fa-inverse {
				color: #9759ae;
			}

			&:hover {
				color: @gray;

				&:after {
					display: block;
				}
			}

			&:after {
				content: "В ИЗБРАННОЕ";
				font-weight: bold;
				font-size: 13px;
				color: @gray;
				line-height: 52px;
				background: #9759ae;
				position: absolute;
				top: 0;
				left: 88%;
				white-space: nowrap;
				padding: 0 15px 0 10px;
				display: none;
			}
		}
	}

	.flight-direction {
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0 15px;

		.flight-direction-header {
			background: #eaeaea;
		}

		.direction-title {
			line-height: 43px;
			height: 43px;
			font-family: archiveregular;
			font-size: 16px;
			color: @gray;
			padding-top: 2px;
		}

		.direction-start {
			color: #515151;
			line-height: 43px;
			height: 43px;
			text-align: right;
		}

		.direction {
			background: @gray;
			line-height: 37px;
			color: #e48d07;

			.from, .to {
				font-family: archiveregular;
				font-size: 16px;
				color: #fff;
				height: 37px;
				padding-top: 2px;
			}

			.to {
				text-align: right;
			}
		}
	}

	.hotel-info {
		margin-top: 30px;
		margin-bottom: 15px;
	}

	.hotel-info-title {
		font-weight: bold;
		font-size: 12px;
		color: #777777;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	.hotel-info-value {
		font-family: archiveregular;
		font-size: 16px;
		color: @gray;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.hotel-info-description {
		font-size: 12px;
		color: #7d7d7d;
	}

	hr {
		margin: 0;
		border-top: 2px solid #e8e8e8;
	}

	.tour-additional-info {
		margin: 30px -15px 0;
		text-transform: uppercase;
	}

	.tour-additional-info-title {
		font-weight: bold;
		font-size: 11px;
		color: #777777;
		margin-bottom: 7px;
	}

	.tour-additional-info-value {
		font-family: archiveregular;
		font-size: 12px;
		color: @gray;
	}
}

.modal .close {
	color: #3598db;
	font-size: 28px;
	position: relative;
	top: -7px;

	opacity: 1 !important;
}

.order-form-title {
	font-family: archiveregular;
	font-size: 36px;
	color: @gray-darker;
	text-align: center;

	.badge {
		color: #ffffff;
		background: #3598db;
		font-size: 36px;
		.br(50%);
		width: 62px;
		height: 62px;
		padding: 0;
		line-height: 62px;
		margin-right: 10px;
	}
}

.order-form-description {
	color: @gray;
	margin: 20px 0;
	width: 500px;
	.center-block();

	.red {
		color: #e84c3d;
	}
}

.order-form-container {
	padding: 30px 55px 5px;

	.order-form-block {
		background: #e8e8e8;
		padding: 16px 18px;
	}

	.order-form-block-title {
		font-weight: bold;
		font-size: 13px;
		color: @gray;
		text-transform: uppercase;
		margin-bottom: 15px;

		i.fa {
			color: #3598db;
			margin-right: 5px;
		}
	}

	label {
		font-weight: normal;
		font-size: 13px;
	}

	.form-control {
		background: #fff;
		border-color: #fff;
		color: @gray-darker;
		letter-spacing: 0;
		padding: 6px 12px;
	}

	.delete-order-form-block {
		text-decoration: underline;
		margin-left: 8px;

		&:hover {
			color: #e84c3d;
		}
	}

	.add-passenger-button {
		height: 48px;
		line-height: 48px;
		padding: 0 25px;
		position: relative;
		bottom: -27px;
	}
}

.payment-methods {
	margin-top: 60px;

	.payment-method-block {
		width: 170px;
		display: inline-block;
		text-align: center;
	}

	.payment-method {
		width: 170px;
		height: 170px;
		background-color: #efefef;

		&.active {
			background-color: #e84c3d;
		}
	}

	.payment-method-1 {
		background: #efefef center center no-repeat url("../img/payment-method-1.png");
	}
	.payment-method-2 {
		background: #efefef center center no-repeat url("../img/payment-method-2.png");
	}

	.payment-method-title {
		font-weight: bold;
		font-size: 18px;
		color: @gray;
		margin-top: 15px;
	}
}

.order-step3-container {
	padding: 30px 55px 45px;

	.tour-price-block {
		margin-top: 20px;

		.tour-price {
			font-weight: bold;
			font-size: 48px;
			color: #e84c3d;
			letter-spacing: -0.1em;
			margin-bottom: 0;
		}

		.tour-price-description {
			font-weight: bold;
			font-size: 11px;
			color: @gray;
			text-transform: uppercase;
		}
	}

	.before-buy-label {
		font-weight: bold;
		font-size: 11px;
		color: #7b7b7b;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 20px;
		line-height: 1.9;
	}

	.after-buy-label {
		font-weight: bold;
		font-size: 11px;
		color: @gray;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 35px;
		line-height: 1.9;
	}

	.tour-buy-button {
		height: 70px;
		line-height: 70px;
		padding: 0 55px;
		font-size: 24px;
	}

	.personal-data-info {
		font-size: 13px;
		color: #474747;
		text-align: center;
		padding: 15px 18px;
		background: #efefef;
	}
}

.empty-list-block {
	margin: 460px 0 0;
	color: #3f3f3f;
	font-size: 13px;
	line-height: 1.8;

	& > h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}

li.loading-state {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .9);
	z-index: 999;

	.loading-title {
		margin-top: 130px;
		font-weight: bold;
		font-size: 24px;
		color: #3f3f3f;
		line-height: 1.2;
	}

	.loading-number {
		font-family: "archiveregular";
		font-size: 150px;
		color: #3598db;
		display: inline-block;
		border: 16px solid #3598db;
		.br(50%);
		width: 340px;
		height: 340px;
		line-height: 320px;
		margin-top: 15px;
		margin-bottom: 65px;
	}

	.loading-features {
		span {
			display: block;
			font-weight: bold;
			font-size: 16px;
			color: #454545;
			margin-top: 30px;
		}
	}
}

.list-view-loading > li.loading-state {
	display: block;
}

.event-promo-block {
	position: relative;
	height: 700px;

	a {
		text-decoration: none;
		display: block;
		text-align: center;
		position: relative;
		width: 100%;
		height: 700px;

		& > img {
			position: absolute;
			left: 50%;
			margin-left: -960px;
		}
	}

	h2 {
		font-family: "archiveregular";
		font-weight: bold;
		font-size: 48px;
		margin: 0;
		line-height: 0.7;
		position: absolute;
		top: 240px;
		width: 100%;
		text-align: center;
		color: #fff;
	}

	.search-form-widget {
		position: relative;
		top: -270px;
		z-index: 1000;
	}
}

.hello-block-numbers {
	//	margin: 0 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e9e9e9;

	& > li {
		float: left;
		width: 20%;
		padding: 0 7px;

		& > span {
			display: block;
			color: #3f3f3f;
			font-weight: bold;
			text-transform: uppercase;
		}

		& > span.number {
			color: #3598db;
			font-family: "archiveregular";
			font-size: 80px;
			font-weight: normal;
		}
	}
}

.hello-block-numbers-block {
	position: relative;
	margin-bottom: 35px;

	&:after {
		position: absolute;
		top: 100%;
		left: 50%;
		width: 34px;
		height: 19px;
		margin-left: -17px;
		margin-top: -2px;
		background: left top no-repeat url("../img/numbers-arrow.png");
		content: '';
	}
}

.hello-block-single-number {
	color: #3f3f3f;
	padding-bottom: 45px;
	border-bottom: 1px solid #e9e9e9;
	//	margin: 0 60px;

	.number {
		font-family: archiveregular;
		color: #9759ae;
		font-size: 150px;
		line-height: 0.74;
	}

	span {
		display: block;
	}
}

h3.why-title {
	font-size: 20px;
}

h3.main-page-title {
	font-weight: bold;
	font-size: 30px;
	color: #3f3f3f;
	text-transform: uppercase;
	text-align: center;
	margin: 35px 0;
}

.why-we-block {
	font-weight: bold;
	font-size: 15px;
	color: #454545;
	line-height: 18/16;

	.col-md-11 {
		float: none;
	}
	.image-block {
		height: 135px;
	}

	& > .row {
		margin-top: 50px;
		margin-bottom: 30px;
	}
}

.white-block {
	background: #fff;
}

.feedback-list {
	margin: 15px 120px 20px 50px;

	.media {
		margin-top: 50px;

		& > .pull-left {
			margin-right: 50px;
		}
	}
	.media-heading {
		color: #3598db;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 25px;
	}

	.more {
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		display: block;
		padding: 10px 120px 10px 50px;
		margin: 20px -120px 0 -50px;

		&:hover {
			background: #eee;
		}
	}
}

.mb20 {
	margin-bottom: 20px;
}

.select-city-block {
	font-size: 13px;
	color: #6e6e6e;
	font-weight: bold;
	margin-top: 20px;
}

.select-city-block_white {
	color: #fff;
}

.select-city-link {
	color: #0099de;

	border-bottom: 1px dotted;
	text-decoration: none !important;
}

.select-city-view {
	& > h3 {
		color: #434343;
	}
}

.select-city-list {
	margin: 30px 0 0;

	li {
		display: inline-block;
		width: 29%;
		margin: 0 2% 5px;
		float: left;

		&.active > a {
			background: #0099de;
			color: #fff;
			text-decoration: none !important;
		}
	}

	a {
		display: inline-block;
		font-weight: bold;
		color: #434343;
		line-height: 25px;
		padding: 0 6px;

		&:hover {
			color: #0099de;
		}
	}
}

.side-menu-toggle {
	color: #434343;
	margin-top: 25px;
	display: inline-block;
	margin-left: 110px;
}

.side-menu-toggle_white {
	color: #fff;
}

.side-menu-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: @zindex-modal-background - 1;
}

.side-menu-block {
	background: rgba(0, 0, 0, .61);
	position: fixed;
	top: 0;
	left: 0;
	width: 350px;
	height: 100%;

	.side-menu-toggle {
		color: #fff;
	}
}

.side-menu {
	margin-left: 110px;
	margin-top: 35px;

	& > li {
		margin: 10px 0;

		& > a {
			font-weight: bold;
			color: #ffffff;

			&:hover {
				color: #0099de;
			}
		}
	}
}

.select2-container {
	&.form-control {
		padding: 0;
	}

	.select2-choice {
		height: 33px;
		padding: 0;
		color: #fff;
		line-height: 33px;
		border: none;
		background: none;
		border-radius: 0;
		box-shadow: none;

		.select2-arrow {
			background: none;
			border: none;
			border-radius: 0;
		}
	}

	.select2-chosen {
		text-align: left;
		padding: 0 0 0 14px;
	}
}

.select2-drop {
	border: none !important;
	background: #323232 !important;
	border-radius: 0 !important;
	box-shadow: 0 0 2px #323232;
	color: #fff;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
	background: #323232;
}

.select2-search input {
	color: #323232;
}

.select2-container .select2-choice .select2-arrow b {
	background-position: 0 3px;
}

.input-group-addon {
	border-radius: 0;
	background: #353535;
	border-color: #353535;
	line-height: 21px;

	& > i.fa {
		color: #0099de;
	}
}

.daterangepicker {
	background: #323232;
	border-radius: 0;
	color: #fff;

	.calendar {
		th, td {
			font-family: @font-family-base;
			font-size: 12px;
		}
		th {
			font-weight: normal;
		}
		td {
			line-height: 22px;

			&.disabled {
				color: #a2a2a2;
			}
		}

		.calendar-date {
			background: none;
			border: none;
			border-radius: 0;
		}
	}

	th.month {
		font-weight: bold;
	}

	td.active, td.active:hover, td.in-range, td:hover, td.in-range.off {
		background: #00aee0 !important;
		border-radius: 50% !important;
		border: none;
		color: #fff;
	}

	.daterangepicker_start_input label, .daterangepicker_end_input label {
		color: #fff;
		text-shadow: none;
	}

	&:after, &:before {
		display: none !important;
	}
}

.popover {
	width: 100%;
	background: #323232;
	border: none;
	border-radius: 0;
	font-size: 12px;
	font-weight: bold;
	color: #fff;

	& > label {
		color: #fff;
	}

	&.bottom > .arrow:after {
		border-bottom-color: #323232;
	}

	.form-control {
		background: #434343;
	}

	i.fa {
		font-size: 15px;
	}
}

input[type=checkbox] {
	display: none;

	& + label {
		padding-left: 20px;
		line-height: 10px;
		height: 10px;
		text-transform: uppercase;
		background: left top no-repeat url("../img/checkbox.png");
		cursor: pointer;
		margin-bottom: 12px;
		display: inline-block;
	}

	&:checked + label {
		background-position: 0 -10px;
		color: #0099de;
	}
}